<h1> Welcome to the Shop! </h1>
<form method= "post" action="/checkout">
  <h2>Beats By Dre: $200</h2>
  <p>Description: Top of the line, never over priced.<p>
  <p>Buy now and recieve 0% off!<p>
  <input type="Buy Now" id="buy_now">
</form>
