<h1> Welcome to the Shop! </h1>
<form method= "post" action="/checkout">
  <label>Beats By Dre $200<label>
  <p>Description: Top of the line, never over priced.<p>
  <p>Buy now and recieve 0% off!<p>
  <button type="button">Buy now!</button>
</form>
